In [1]:
from pymongo import MongoClient
import pymongo

In [ ]:
# first download -- MongoDB Community Server Download

In [2]:
#client = MongoClient('mongodb+srv://sproutsai:DazmcIFiBV2j2rAv@sproutsai.53upxsn.mongodb.net/core')

In [36]:
# how to connect to the database server and get a database object 

client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017/')

In [37]:
# how to create a new database and collection 

db = client['dj'] # create a new database called 'dj', if it doesn't exist

collection = db['test-collection'] # create a new collection called 'test-collection'
collection1 = db['test-collection1'] # create a new collection called 'test-collection1'

In [10]:
db_sequence = client['sequence']
collection_sequence = db_sequence['sequence']

db_template = client['template']
collection_template = db_template['emailTemplate']

In [14]:
from bson.objectid import ObjectId

collection_template.delete_many({"creator":ObjectId('667ad0d8b3942abc2121f5f5')}) # delete all documents where the creator is the user with the given ObjectId

DeleteResult({'n': 10, 'electionId': ObjectId('7fffffff00000000000000df'), 'opTime': {'ts': Timestamp(1720898511, 10), 't': 223}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1720898511, 10), 'signature': {'hash': b'f\x83\x8b\x91\x01^v(\xfdHA\xab\x95\xc1\xcc[q\xadK\xaa', 'keyId': 7329896023210328067}}, 'operationTime': Timestamp(1720898511, 10)}, acknowledged=True)

In [9]:
collection_sequence.delete_many({"created_by":"667ad0d8b3942abc2121f5f5"})

DeleteResult({'n': 8, 'electionId': ObjectId('7fffffff00000000000000df'), 'opTime': {'ts': Timestamp(1720898322, 8), 't': 223}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1720898322, 8), 'signature': {'hash': b'yR\xce\xba\xf7\x17j\xd1h\xd6\xb6\xcdRW\x1b\x95Z\xccC|', 'keyId': 7329896023210328067}}, 'operationTime': Timestamp(1720898322, 8)}, acknowledged=True)

In [7]:
collection_sequence.find()

{'_id': ObjectId('65d5a2123d4efd092b2b3c6e'),
 'steps': [{'action': 'SEND_TEMPLATE',
   'template_id': '65d46d65a7ff99a4f9407dbc'},
  {'action': 'WAIT', 'wait_time': '1708446479079'},
  {'action': 'SEND_FOLLOW_UP_EMAIL',
   'template_id': '65d58aefa7ff99a4f9407dc9'},
  {'action': 'WAIT', 'wait_time': '1708706050481'},
  {'action': 'SEND_FOLLOW_UP_EMAIL',
   'template_id': '65d58aefa7ff99a4f9407dc9'}],
 'name': 'testing 1',
 'created_by': '6582af251d6558053d4b1e13',
 'createdAt': datetime.datetime(2024, 2, 21, 7, 11, 14, 487000),
 'updatedAt': datetime.datetime(2024, 2, 21, 7, 11, 14, 487000),
 '__v': 0}

In [ ]:
#rename the collection name organization to organizations

db.organization.rename('accounts')

In [12]:
# how to insert a document into a collection

doc = {'name': 'John', 'age': 25}

collection1.insert_one(doc) # insert a new document into the collection 'test-collection1'

InsertOneResult(ObjectId('664f8aa22df53c76241be80e'), acknowledged=True)

In [13]:
# access all the db names

print(client.list_database_names())

['admin', 'config', 'dj', 'local']

In [14]:
# access all the collection names

print(db.list_collection_names())

['test-collection', 'test-collection1']

In [16]:
collection.insert_one({'name': 'John', 'age': 25}) # insert a new document into the collection 'test-collection'

InsertOneResult(ObjectId('664f8ca62df53c76241be80f'), acknowledged=True)

In [17]:
collection.find_one() # retrieve the first document in the collection 'test-collection'

{'_id': ObjectId('664f8a3e2df53c76241be80c'), 'name': 'John', 'age': 25}

In [19]:
collection.find_one({'name': 'John', 'age': 25})

{'_id': ObjectId('664f8a3e2df53c76241be80c'), 'name': 'John', 'age': 25}

In [20]:
collection.update_one({'name':'John'}, {'$set': {'age': 26}}) # update the document where the name is 'John' to set the age to 26, $set is a MongoDB operator, which sets the value of a field in a document.

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [21]:
collection.find_one({'name':'John'})

{'_id': ObjectId('664f8a3e2df53c76241be80c'), 'name': 'John', 'age': 26}

In [22]:
collection.delete_one({'name':'John'}) # delete the document where the name is 'John'

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [24]:
# to create a new collection

collection2 = db['test-collection2'] # create a new collection called 'test-collection2'

# to insert multiple documents into a collection

docs = [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 24}]

collection2.insert_many(docs) # insert multiple documents into the collection 'test-collection2'

InsertManyResult([ObjectId('664f8ec32df53c76241be810'), ObjectId('664f8ec32df53c76241be811')], acknowledged=True)

In [25]:

# to retrieve all documents in a collection

for doc in collection2.find():
    print(doc)

{'_id': ObjectId('664f8ec32df53c76241be810'), 'name': 'John', 'age': 25}
{'_id': ObjectId('664f8ec32df53c76241be811'), 'name': 'Jane', 'age': 24}

In [26]:

# to retrieve all documents in a collection that match a query

for doc in collection2.find({'name': 'John'}):
    print(doc)

{'_id': ObjectId('664f8ec32df53c76241be810'), 'name': 'John', 'age': 25}

In [30]:
# to update multiple documents in a collection

collection2.update_many({'name': 'John'}, {'$set': {'age': 21}}) # update all documents where the name is 'John' to set the age to 26

for doc in collection2.find():
    print(doc)

{'_id': ObjectId('664f8ec32df53c76241be810'), 'name': 'John', 'age': 21}
{'_id': ObjectId('664f8ec32df53c76241be811'), 'name': 'John', 'age': 21}

In [31]:
# to delete multiple documents in a collection

collection2.delete_many({'name': 'John'}) # delete all documents where the name is 'John'

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [32]:
# to drop a collection

collection2.drop() # drop the collection 'test-collection2'

# to drop a database

client.drop_database('dj') # drop the database 'dj'

# to close the connection to the database server

client.close() # close the connection to the database server

In [46]:
#inserting multiple documents into a collection

docs = [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 24}]

inserted_variable = collection.insert_many(docs) # insert multiple documents into the collection 'test-collection'

In [50]:
print(inserted_variable.acknowledged)

True

In [49]:
print(inserted_variable.inserted_ids)

[ObjectId('664f931e2df53c76241be81a'), ObjectId('664f931e2df53c76241be81b')]

In [63]:

try:
    collection.insert_many(docs)
except pymongo.errors.BulkWriteError as e: # bulk write error is raised when there is an error in the bulk write operation, such as a duplicate key error
    print('e')

e

In [71]:
doc= {'name': 'John', 'age': 25}
collection.insert_one(doc)

InsertOneResult(ObjectId('664f95492df53c76241be823'), acknowledged=True)

In [72]:

try:
    collection.insert_one(doc)
except pymongo.errors.DuplicateKeyError as e: # duplicate key error is raised when there is an attempt to insert a document with a duplicate key
    print('e')

e

In [73]:
db = client["my_store"]
products_col = db["products"]

In [76]:
products_col.insert_one({"name": "cars"})

InsertOneResult(ObjectId('664f95e02df53c76241be825'), acknowledged=True)

In [77]:
find_one_res = products_col.find_one({"name": "Pens"})

In [79]:
find_one_res['_id']

ObjectId('664f95d52df53c76241be824')

In [93]:
pen_cursor = products_col.find({"name": "Pens"})

In [94]:
pen_cursor.alive # True

True

In [95]:
pen_cursor.next() # returns the next document in the cursor

{'_id': ObjectId('664f95d52df53c76241be824'), 'name': 'Pens'}

In [96]:
pymongo.ASCENDING

1

In [97]:
pymongo.DESCENDING

-1

In [100]:
for document in products_col.find(): # retrieve all documents in the collection 'products'
    print(document)

{'_id': ObjectId('664f95d52df53c76241be824'), 'name': 'Pens'}
{'_id': ObjectId('664f95e02df53c76241be825'), 'name': 'cars'}

In [106]:
for document in products_col.find().sort("name", pymongo.ASCENDING): # sort the documents in ascending order of the name field
    print(document)

{'_id': ObjectId('664f95d52df53c76241be824'), 'name': 'Pens'}
{'_id': ObjectId('664f95e02df53c76241be825'), 'name': 'cars'}

In [107]:
for document in products_col.find().sort("name",-1): # sort in descending order
    print(document)

{'_id': ObjectId('664f95e02df53c76241be825'), 'name': 'cars'}
{'_id': ObjectId('664f95d52df53c76241be824'), 'name': 'Pens'}

In [108]:
for document in products_col.find({}).limit(5): # `limit` method is used to limit the number of documents returned by the `find` method
    print(document)

{'_id': ObjectId('664f95d52df53c76241be824'), 'name': 'Pens'}
{'_id': ObjectId('664f95e02df53c76241be825'), 'name': 'cars'}

In [109]:
for document in products_col.find({}).skip(4): # skip the first 4 documents
    print(document)

In [113]:
find_query_filter = {"name": "Pens"}
find_cursor = products_col.find(find_query_filter)

In [116]:
products_col.count_documents(find_query_filter)

1

In [117]:
products_cursor = products_col.find({})

In [120]:
products_cursor.distinct("name") # returns a list of distinct values for the field 'name'

['Pens', 'cars']

In [121]:
products_col.count_documents(find_query_filter) # returns the number of documents that match the query filter

1

In [ ]:
# how to delete all the records in a collection and in a database

products_col.delete_many({}) # delete all the documents in the collection 'products'

client.drop_database("my_store") # drop the database 'my_store'

In [9]:
from datetime import datetime, timedelta
import time

In [4]:
datetime.now() # returns the current date and time

datetime.datetime(2024, 5, 28, 9, 11, 51, 791805)

In [6]:
datetime.now() + timedelta(days=1) # returns the date and time one day from now

datetime.datetime(2024, 5, 29, 9, 53, 7, 96215)

In [7]:
datetime.utcnow() # returns the current date and time in UTC timezone

datetime.datetime(2024, 5, 28, 5, 18, 32, 791815)

In [10]:
datetime.fromtimestamp(time.time()) # returns the date and time from a timestamp

datetime.datetime(2024, 5, 28, 10, 49, 35, 857039)

In [12]:
datetime.fromtimestamp(time.time() + time.timezone) # returns the date and time from a timestamp in UTC timezone

datetime.datetime(2024, 5, 28, 5, 20, 38, 3089)

In [13]:
time.time() # returns the current timestamp

1716873648.7570138

In [15]:
time.timezone # returns the timezone offset in seconds

-19800

In [18]:
from pymongo import MongoClient

In [19]:
client = MongoClient('localhost', 27017)

In [20]:
db = client['datetime_db']
collection = db['datetime_collection']

In [21]:
collection.insert_one({'date': datetime.now(),
                       'date_utc': datetime.utcnow(),
                       'timestamp': time.time(),
                       'timezone_offset': time.timezone,
                       'date_from_timestamp': datetime.fromtimestamp(time.time()),
                       'date_from_timestamp_utc': datetime.fromtimestamp(time.time() + time.timezone)
                       })

InsertOneResult(ObjectId('66556a9146b834aa897573d4'), acknowledged=True)

In [ ]:
#%D - Month/Day/Year
#%d - Day
#%m - Month
#%Y - Year
#%H - Hour
#%M - Minute
#%S - Second

#%D %H:%M:%S - 12/31/21 00:00:00
#%d-%m-%Y %H:%M:%S - 31-12-2021 00:00:00
#%m-%d-%Y %H:%M:%S - 12-31-2021 00:00:00

#%Y-%m-%d %H:%M:%S - 2021-12-31 00:00:00

#%D %H:%M:%S - 12/31/21 00:00:00

In [22]:
collection.find_one()

{'_id': ObjectId('66556a9146b834aa897573d4'),
 'date': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000),
 'date_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000),
 'timestamp': 1716873873.1782615,
 'timezone_offset': -19800,
 'date_from_timestamp': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000),
 'date_from_timestamp_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000)}

In [27]:
collection.insert_one(
    {
        "name": "Ethan",
        "join_date_utc": datetime.utcnow(),
        "join_timestamp": datetime.fromtimestamp(time.time() + time.timezone),
        "subscription_end_date_utc": datetime.utcnow() + timedelta(days=31)
    }
)

InsertOneResult(ObjectId('66556b0e46b834aa897573d6'), acknowledged=True)

In [60]:
for i in collection.find({'name':'Ethan'}):
    #print(i)
    print(i['subscription_end_date_utc'].strftime('%d-%m-%Y %H:%M:%S'))

28-06-2024 05:25:27
28-06-2024 05:26:38

In [34]:
# take this time stamp 'join_timestamp': datetime.datetime(2024, 5, 28, 5, 26, 38, 58000) and convert it to a human readable format

from datetime import datetime

timestamp = datetime(2024, 5, 28, 5, 26, 38, 58000)

print(timestamp.strftime('%Y-%m-%d %H:%M:%S')) # convert the timestamp to a human-readable format

2024-05-28 05:26:38

In [38]:
a = collection.find_one()

In [41]:
a['date_utc'].strftime('%Y-%m-%d %H:%M:%S')

'2024-05-28 05:24:33'

In [73]:
# can you put all the useful datetime functions in a single script and run it?

from datetime import datetime, timedelta

import pymongo

import time

datetime.now() # returns the current date and time

datetime.now() + timedelta(days=1) # returns the date and time one day from now

datetime.utcnow() # returns the current date and time in UTC timezone

datetime.fromtimestamp(time.time()) # returns the date and time from a timestamp

datetime.fromtimestamp(time.time() + time.timezone) # returns the date and time from a timestamp in UTC timezone

time.time() # returns the current timestamp

time.timezone # returns the timezone offset in seconds

datetime.timestamp(datetime.now()) # returns the timestamp from a datetime object

-19800

In [62]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

db = client['datetime_db']

collection = db['datetime_collection']

collection.insert_one({'date': datetime.now(),

                          'date_utc': datetime.utcnow(),    

                            'timestamp': time.time(),

                            'timezone_offset': time.timezone,

                            'date_from_timestamp': datetime.fromtimestamp(time.time()),

                            'date_from_timestamp_utc': datetime.fromtimestamp(time.time() + time.timezone)

                            })

InsertOneResult(ObjectId('66556d0546b834aa897573d8'), acknowledged=True)

In [64]:
for i in collection.find():
    
        print(i)

{'_id': ObjectId('66556a9146b834aa897573d4'), 'date': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000), 'date_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000), 'timestamp': 1716873873.1782615, 'timezone_offset': -19800, 'date_from_timestamp': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000), 'date_from_timestamp_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000)}
{'_id': ObjectId('66556ac746b834aa897573d5'), 'name': 'Ethan', 'join_date_utc': datetime.datetime(2024, 5, 28, 5, 25, 27, 93000), 'join_timestamp': 1716854127.0930414, 'subscription_end_date_utc': datetime.datetime(2024, 6, 28, 5, 25, 27, 93000)}
{'_id': ObjectId('66556b0e46b834aa897573d6'), 'name': 'Ethan', 'join_date_utc': datetime.datetime(2024, 5, 28, 5, 26, 38, 58000), 'join_timestamp': datetime.datetime(2024, 5, 28, 5, 26, 38, 58000), 'subscription_end_date_utc': datetime.datetime(2024, 6, 28, 5, 26, 38, 58000)}
{'_id': ObjectId('66556d0546b834aa897573d8'), 'date': datetime.datetime(2024, 5, 28, 11, 5, 1, 320000), 'date_utc': datetime.datetime(2024, 5, 28, 5, 35, 1, 320000), 'timestamp': 1716874501.3208404, 'timezone_offset': -19800, 'date_from_timestamp': datetime.datetime(2024, 5, 28, 11, 5, 1, 320000), 'date_from_timestamp_utc': datetime.datetime(2024, 5, 28, 5, 35, 1, 320000)}

In [65]:
collection.find_one({'date': {'$gt' : datetime(2024,4,27)}})

{'_id': ObjectId('66556a9146b834aa897573d4'),
 'date': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000),
 'date_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000),
 'timestamp': 1716873873.1782615,
 'timezone_offset': -19800,
 'date_from_timestamp': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000),
 'date_from_timestamp_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000)}

In [76]:
# sort the documents in ascending order of the date field

for document in collection.find().sort("_id", -1):
    print(document)

{'_id': ObjectId('66556d0546b834aa897573d8'), 'date': datetime.datetime(2024, 5, 28, 11, 5, 1, 320000), 'date_utc': datetime.datetime(2024, 5, 28, 5, 35, 1, 320000), 'timestamp': 1716874501.3208404, 'timezone_offset': -19800, 'date_from_timestamp': datetime.datetime(2024, 5, 28, 11, 5, 1, 320000), 'date_from_timestamp_utc': datetime.datetime(2024, 5, 28, 5, 35, 1, 320000)}
{'_id': ObjectId('66556b0e46b834aa897573d6'), 'name': 'Ethan', 'join_date_utc': datetime.datetime(2024, 5, 28, 5, 26, 38, 58000), 'join_timestamp': datetime.datetime(2024, 5, 28, 5, 26, 38, 58000), 'subscription_end_date_utc': datetime.datetime(2024, 6, 28, 5, 26, 38, 58000)}
{'_id': ObjectId('66556ac746b834aa897573d5'), 'name': 'Ethan', 'join_date_utc': datetime.datetime(2024, 5, 28, 5, 25, 27, 93000), 'join_timestamp': 1716854127.0930414, 'subscription_end_date_utc': datetime.datetime(2024, 6, 28, 5, 25, 27, 93000)}
{'_id': ObjectId('66556a9146b834aa897573d4'), 'date': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000), 'date_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000), 'timestamp': 1716873873.1782615, 'timezone_offset': -19800, 'date_from_timestamp': datetime.datetime(2024, 5, 28, 10, 54, 33, 178000), 'date_from_timestamp_utc': datetime.datetime(2024, 5, 28, 5, 24, 33, 178000)}

In [78]:
client.list_database_names()

['admin',
 'aggregation_test',
 'config',
 'datetime_db',
 'dj',
 'local',
 'my_store',
 'working_db']

In [79]:
db = client['aggregation_test']

In [80]:
db.list_collection_names()

['orders', 'products', 'users']

In [81]:
collection = db['orders']

In [83]:
collection.find_one()

{'_id': ObjectId('665577f6b1669967fef5f2c6'),
 'items': [{'product_id': ObjectId('665577f6b1669967fef5f2c1'), 'quantity': 1},
  {'product_id': ObjectId('665577f6b1669967fef5f2c3'), 'quantity': 1}]}

In [ ]:
lt_cursor = products_col.find({"price":{ "$lt": 10.00}})
print_cursor(lt_cursor)

In [ ]:
lt_gte_cursor = products_col.find({"price":{ "$lt": 8.00, "$gte": 4.99}})
print_cursor(lt_gte_cursor)

In [ ]:
lt_ne_cursor = products_col.find({"price":{ "$lt": 15.00}, "name": {"$ne": "Pens"}})
print_cursor(lt_ne_cursor)

In [ ]:
and_cursor = products_col.find(
    {"$and": [
        {"price": {"$lt": 15.00}}, 
        {"name": {"$ne": "Pens"}}
    ]})
print_cursor(and_cursor)

In [ ]:
or_cursor = products_col.find(
    {"$or": [
        {"price": {"$gt": 15.00}}, 
        {"price": {"$lt": 5.00}}
    ]})
print_cursor(or_cursor)

In [ ]:
nor_cursor = products_col.find(
    {"$nor": [
        {"price": {"$gt": 15.00}}, 
        {"price": {"$lt": 5.00}}
    ]})
print_cursor(nor_cursor)

In [ ]:
type_cursor = products_col.find({"price": {"$type": "int"}})
print_cursor(type_cursor)

In [86]:
def print_cursor(cursor):
    for document in cursor:
        print(document)

In [88]:
# Note: I manually updated one of my entries to have a "seller" attribute
exists_cursor = collection.find({"seller": {"$exists": True}}) # find documents where the "seller" attribute exists
print_cursor(exists_cursor)

In [ ]:
regex_cursor = products_col.find({"name": {"$regex": "Water"}}) # find documents where the "name" attribute contains the string "Water"
print_cursor(regex_cursor)

In [ ]:
# Add the "i" value to the $option operator to make the text searched for case insensitive
regex_cursor_options = products_col.find({"name": {"$regex": "water", "$options": "i" }}) # find documents where the "name" attribute contains the string "water" (case insensitive)
print_cursor(regex_cursor_options)

In [ ]:
products_col.update_one({"name": "Bag"}, {"$set": {"price": 24.38}})

In [ ]:
update_one_res = products_col.update_one({"name": "Bag"}, {"$set": {"price": 25.78}})

In [89]:
print(update_one_res.acknowledged)
print(update_one_res.matched_count)
print(update_one_res.modified_count)
print(update_one_res.raw_result)


# explain these ?

update_many_res = products_col.update_many({"price": {"$lt": 10.00}}, {"$set": {"price": 10.00}})

print(update_many_res.acknowledged) # True, if the operation was acknowledged by the server (i.e., the operation was successful)

print(update_many_res.matched_count) # the number of documents that matched the query filter

print(update_many_res.modified_count) # the number of documents that were modified

print(update_many_res.raw_result) # the raw result returned by the server

/

NameError: name 'update_one_res' is not defined

In [ ]:
replace_one_res = products_col.replace_one({"name": "Bag"}, {"product_name": "Bag", "price": 25.76, "seller": "Raymond"}) 
# explain what this does ? # replace the document where the name is 'Bag' with the new document


replace_one_res

In [ ]:
update_many_res = products_col.update_many({"name": "Pens"}, {"$set": {"price": 11.58}})
update_many_res

In [ ]:
# what is upsertting ? # upserting is the process of inserting a new document if no document matches the query filter

update_many_res = products_col.update_many({"name": "Pens"}, {"$set": {"price": 11.58}}, upsert=True)

update_many_res

In [ ]:
products_col.update_many({}, {"$currentDate": {"date": True}}) # update all documents in the collection to set the date field to the current date and time

# $currentDate ? # $currentDate is a MongoDB operator that sets the value of a field to the current date and time

# if suppose there is no field as date in the collection, then it will create a new field as date and set the value to the current date and time

In [ ]:
products_col.update_many({}, {"$rename": {"date": "date_added"}}) # update all documents in the collection to rename the field 'date' to 'date_added'

In [ ]:
products_col.update_many({}, {"$mul": {"price": 1.04}}) # update all documents in the collection to multiply the price field by 1.04

In [ ]:
products_col.update_many({}, {"$unset": {"date_added": True}}) # update all documents in the collection to remove the field 'date_added'

In [ ]:
# like this how many update commands we have ? 

# $currentDate, $rename, $mul, $unset, $min, $max, $inc, $setOnInsert, $set, $unset, $addToSet, $pop, $pullAll, $pull, $push, $pushAll, $bit, $isolated

# give examples of each of them

products_col.update_many({}, {"$min": {"price": 10.00}}) # update all documents in the collection to set the price field to the minimum of the current value and 10.00

products_col.update_many({}, {"$max": {"price": 20.00}}) # update all documents in the collection to set the price field to the maximum of the current value and 20.00

products_col.update_many({}, {"$inc": {"price": 5.00}}) # update all documents in the collection to increment the price field by 5.00

products_col.update_many({}, {"$setOnInsert": {"date_added": datetime.now()}}) # update all documents in the collection to set the date_added field to the current date and time if the document is inserted


# explain with example the min and max ? # for example, if the current value of the price field is 15.00, and we use the $min operator to set the price field to 10.00, the price field will be updated to 10.00

In [ ]:
# aggregation pipeline - explain with example

# aggregation pipeline is a framework for performing data processing tasks in MongoDB. It allows you to process and transform data in a series of stages, with each stage performing a specific operation on the data. The output of one stage becomes the input of the next stage, allowing you to build complex data processing pipelines.

# The aggregation pipeline consists of a sequence of stages, each of which performs a specific operation on the data. Some common stages in the aggregation pipeline include:

# $match: Filters the documents based on a specified condition.
# $project: Reshapes the documents by including, excluding, or renaming fields.
# $group: Groups the documents by a specified key and performs aggregation operations on the grouped data.
# $sort: Sorts the documents based on a specified field.
# $limit: Limits the number of documents returned by the pipeline.
# $skip: Skips a specified number of documents in the pipeline.
# $unwind: Deconstructs an array field into multiple documents, one for each element in the array.
# $lookup: Performs a left outer join between two collections.
# $addFields: Adds new fields to the documents.
# $replaceRoot: Replaces the root document with a specified document.
# $out: Writes the output of the pipeline to a new collection.

In [ ]:
# $match stage - filters the documents based on a specified condition

match_stage = {"$match": {"price": {"$lt": 10.00}}} # filter documents where the price is less than 10.00
match_stage = {"$match": {"price": {"$lt": 10.00}, "name": "Pens"}} # filter documents where the price is less than 10.00 and the name is 'Pens'
match_cursor = db.products.aggregate([
    {"$match": {"$or": [{"tags": "Beauty"}, {"tags": "Home"}]}}
]) # filter documents where the tags field contains either 'Beauty' or 'Home'


# $project stage - reshapes the documents by including, excluding, or renaming fields

project_stage = {"$project": {"_id": 0, "name": 1, "price": 1}} # include only the 'name' and 'price' fields in the output
project_stage = {"$project": {"_id": 0, "product_name": "$name", "product_price": "$price"}} # rename the 'name' field to 'product_name' and the 'price' field to 'product_price'

# $unset stage - removes fields from the documents

unset_stage = {"$unset": "price"} # remove the 'price' field from the documents
unset_stage = {"$unset": ["price", "quantity"]} # remove the 'price' and 'quantity' fields from the documents

In [ ]:
#use match with project and unset

match_project_cursor = db.products.aggregate([
    {"$match": {"price": {"$lt": 10.00}}},
    {"$project": {"_id": 0, "name": 1, "price": 1}},
    {"$unset": "price"}
]) # filter documents where the price is less than 10.00, include only the 'name' and 'price' fields in the output, and remove the 'price' field from the documents


match_project_cursor = db.products.aggregate([
    {"$match": {"price": {"$lt": 10.00}}},
    {"$project": {"_id": 0, "name": 1, "price": 1}},
    {"$unset": ["price", "quantity"]}
]) # filter documents where the price is less than 10.00, include only the 'name' and 'price' fields in the output, and remove the 'price' and 'quantity' fields from the documents

In [ ]:
# use limit and skip and sort and sortbycount and count

limit_stage = {"$limit": 5} # limit the number of documents returned by the pipeline to 5
skip_stage = {"$skip": 5} # skip the first 5 documents in the pipeline
sort_stage = {"$sort": {"price": 1}} # sort the documents in ascending order of the price field
sortbycount_stage = {"$sortByCount": "$category"} # group the documents by the category field and count the number of documents in each group
count_stage = {"$count": "total_products"} # count the total number of documents in the pipeline


# use limit and skip and sort and sortbycount and count

limit_cursor = db.products.aggregate([
    {"$limit": 5}
]) # limit the number of documents returned by the pipeline to 5

skip_cursor = db.products.aggregate([
    {"$skip": 5}
]) # skip the first 5 documents in the pipeline

sort_cursor = db.products.aggregate([
    {"$sort": {"price": 1}}
]) # sort the documents in ascending order of the price field or -1 for descending order

sortbycount_cursor = db.products.aggregate([
    {"$sortByCount": "$category"}
]) # group the documents by the category field and count the number of documents in each group

count_cursor = db.products.aggregate([
    {"$count": "total_products"}
]) # count the total number of documents in the pipeline

#$size - returns the number of elements in an array field

size_stage = {"$project": {"_id": 0, "name": 1, "tags": 1, "num_tags": {"$size": "$tags"}}} # include the 'name', 'tags', and 'num_tags' fields in the output, where 'num_tags' is the number of elements in the 'tags' array

In [ ]:
#use combination of all

pipeline = [
    {"$match": {"price": {"$lt": 10.00}}},
    {"$project": {"_id": 0, "name": 1, "price": 1}},
    {"$unset": "price"},
    {"$limit": 5},
    {"$skip": 5},
    {"$sort": {"name": 1}},
    {"$sortByCount": "$category"},
    {"$count": "total_products"}
]

cursor = db.products.aggregate(pipeline) # execute the aggregation pipeline

In [ ]:
project_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name":1, "num_tags": {"$size":"$tags"}, "tags": "$tags"}}
]) # include only the 'name' field, add a new field 'num_tags' that contains the number of elements in the 'tags' array, and include the 'tags' field in the output

In [ ]:
# Arithmetic Expression Operators

# $add - adds two numbers
# $subtract - subtracts two numbers
# $multiply - multiplies two numbers
# $divide - divides two numbers
# $mod - calculates the remainder of the division of two numbers
# $abs - returns the absolute value of a number
# $ceil - rounds a number up to the nearest integer
# $floor - rounds a number down to the nearest integer
# $round - rounds a number to the nearest integer
# $trunc - truncates a number to its integer part

# use of $add

add_stage = {"$add": [5, 10]} # add 5 and 10
add_stage = {"$add": ["$price", 5]} # add the value of the 'price' field to 5

#show how it is used in a pipeline

add_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "total_price": {"$add": ["$price", "$tax"]}}}
]) # include the 'name' field and add the 'price' and 'tax' fields to calculate the 'total_price'

In [ ]:
# Array Expression Operators 

# $arrayElemAt - returns the element at a specified index in an array
# $concatArrays - concatenates two arrays
# $filter - filters the elements of an array based on a specified condition
# $isArray - checks if a field is an array
# $size - returns the number of elements in an array field
# $slice - returns a subset of elements from an array
# $in - checks if a specified value is in an array
# $indexOfArray - returns the index of a specified value in an array
# $map - applies an expression to each element of an array
# $reduce - applies an expression to each element of an array and reduces them to a single value
# $reverseArray - reverses the elements of an array
# $zip - combines multiple arrays into a single array


# use of $arrayElemAt

arrayelemat_stage = {"$arrayElemAt": ["$tags", 0]} # get the first element of the 'tags' array
arrayelemat_stage = {"$arrayElemAt": ["$tags", -1]} # get the last element of the 'tags' array

#show how it is used in a pipeline

arrayelemat_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "first_tag": {"$arrayElemAt": ["$tags", 0]}}}
]) # include the 'name' field and get the first element of the 'tags' array as 'first_tag'

# use of $concatArrays

concatarrays_stage = {"$concatArrays": ["$tags", ["New"]]} # concatenate the 'tags' array with a new array containing the string 'New'

#show example and output

concatarrays_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "all_tags": {"$concatArrays": ["$tags", ["New"]]}}}
]) # include the 'name' field and concatenate the 'tags' array with a new array containing the string 'New' as 'all_tags'

# before output - {'name': 'Pens', 'tags': ['Stationery', 'Writing']}
# output - {'name': 'Pens', 'all_tags': ['Stationery', 'Writing', 'New']}

concatarrays_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "all_tags": {"$concatArrays": ["$tags", "$New"]}}}
]) # include the 'name' field and concatenate the 'tags' array with a new array field 'New' as 'all_tags'

db.inventory.aggregate(
   [
      { "$project": { "itemDescription": { "$concat": [ "$item", " - ", "$description" ] } } }
   ]
)  # concatenates the 'item' and 'description' fields with a hyphen as 'itemDescription'

In [ ]:
# in - checks if a specified value is in an array

in_stage = {"$in": ["Apple", "$fruits"]} # check if the string 'Apple' is in the 'fruits' array

#show example and output

in_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "has_apple": {"$in": ["Apple", "$fruits"]}}}
]) # include the 'name' field and check if the string 'Apple' is in the 'fruits' array as 'has_apple'

# before output - {'name': 'Fruits', 'fruits': ['Banana', 'Orange', 'Mango']}
# output - {'name': 'Fruits', 'has_apple': False}

In [ ]:
# first - returns the first element of an array
project_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name":1, "first_tag": {"$first": "$tags"}, "tags": "$tags"}} ]) 
    # include only the 'name' field, add a new field 'first_tag' that contains the first element of the 'tags' array, and include the 'tags' field in the output

In [ ]:
# unwind - deconstructs an array field into multiple documents, one for each element in the array

unwind_stage = {"$unwind": "$tags"} # deconstruct the 'tags' array into multiple documents, one for each element in the array

#show example and output

unwind_cursor = db.products.aggregate([
    {"$unwind": "$tags"}
]) # deconstruct the 'tags' array into multiple documents, one for each element in the array

# before output - {'name': 'Fruits', 'tags': ['Banana', 'Orange', 'Mango']}
# output - {'name': 'Fruits', 'tags': 'Banana'}, {'name': 'Fruits', 'tags': 'Orange'}, {'name': 'Fruits', 'tags': 'Mango'}

In [ ]:
# size - returns the number of elements in an array field

size_stage = {"$project": {"_id": 0, "name": 1, "num_tags": {"$size": "$tags"}}} # include the 'name', 'tags', and 'num_tags' fields in the output, where 'num_tags' is the number of elements in the 'tags' array

#show example and output

size_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "num_tags": {"$size": "$tags"}}}
]) # include the 'name', 'tags', and 'num_tags' fields in the output, where 'num_tags' is the number of elements in the 'tags' array

# before output - {'name': 'Fruits', 'tags': ['Banana', 'Orange', 'Mango']}
# output - {'name': 'Fruits', 'num_tags': 3}

In [ ]:
unwind_cursor = db.products.aggregate([
    {"$match": {"tags": {"$size": 2}}},
    {"$unwind": {"path": "$tags", "includeArrayIndex": "tag_index"}},
    {"$unset": ["_id"]}
]) # filter documents where the 'tags' array has 2 elements, deconstruct the 'tags' array into multiple documents, and include the index of the element in the array as 'tag_index'

In [ ]:
# string expression operators

# $concat - concatenates strings
# $substr - extracts a substring from a string
# $toLower - converts a string to lowercase
# $toUpper - converts a string to uppercase
# $trim - removes whitespace from the beginning and end of a string
# $split - splits a string into an array of substrings
# $strLen - returns the length of a string
# $indexOfBytes - returns the index of a substring in a string
# $strcasecmp - compares two strings case-insensitively
# $regexFind - finds the first occurrence of a regular expression in a string
# $regexMatch - matches a string against a regular expression
# $replaceOne - replaces the first occurrence of a substring in a string
# $replaceAll - replaces all occurrences of a substring in a string
# $ltrim - removes whitespace from the beginning of a string
# $rtrim - removes whitespace from the end of a string
# $dateToString - converts a date to a string
# $dateFromString - converts a string to a date

# use of $concat

concat_stage = {"$concat": ["Hello", " ", "World"]} # concatenate the strings 'Hello' and 'World'
substring_stage = {"$substr": ["Hello World", 6, 5]} # extract a substring starting from index 6 with a length of 5 characters
#example for substring_stage
substring_stage = {"$substr": ["Hello World", 6, -1]} # extract a substring starting from index 6 to the end of the string

#show example and output for substring

substring_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "substring": {"$substr": ["$name", 0, 3]}}}
]) # include the 'name' field and extract a substring of length 3 from the 'name' field as 'substring'

# before output - {'name': 'Pens'}
# output - {'name': 'Pens', 'substring': 'Pen'}

tolower = {"$toLower": "HELLO"} # convert the string 'HELLO' to lowercase
trim = {"$trim": {"input": " Hello ", "chars": " "}} # remove whitespace from the beginning and end of the string

#show example and output for tolower and trim

tolower_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "lowercase_name": {"$toLower": "$name"}}}
]) # include the 'name' field and convert the 'name' field to lowercase as 'lowercase_name'

# before output - {'name': 'Pens'}
# output - {'name': 'Pens', 'lowercase_name': 'pens'}

trim_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "trimmed_name": {"$trim": {"input": "$name", "chars": " "}}}}
]) # include the 'name' field and remove whitespace from the beginning and end of the 'name' field as 'trimmed_name'

# before output - {'name': ' Pens '}
# output - {'name': ' Pens ', 'trimmed_name': 'Pens'}


# $split - splits a string into an array of substrings

split_stage = {"$split": ["Hello,World", ","]} # split the string 'Hello,World' into an array of substrings using the delimiter ','


# $strLen - returns the length of a string
# $indexOfBytes - returns the index of a substring in a string
# $strcasecmp - compares two strings case-insensitively
# $regexFind - finds the first occurrence of a regular expression in a string
# $regexMatch - matches a string against a regular expression
# $replaceOne - replaces the first occurrence of a substring in a string
# $replaceAll - replaces all occurrences of a substring in a string
# $ltrim - removes whitespace from the beginning of a string
# $rtrim - removes whitespace from the end of a string
# $dateToString - converts a date to a string
# $dateFromString - converts a string to a date

#give examples of each of them

# $strLen - returns the length of a string

strlen_stage = {"$strLen": "Hello"} # get the length of the string 'Hello'

# $indexOfBytes - returns the index of a substring in a string

indexofbytes_stage = {"$indexOfBytes": ["Hello World", "World"]} # get the index of the substring 'World' in the string 'Hello World'

# $strcasecmp - compares two strings case-insensitively

strcasecmp_stage = {"$strcasecmp": ["hello", "HELLO"]} # compare the strings 'hello' and 'HELLO' case-insensitively


# $replaceOne - replaces the first occurrence of a substring in a string

replaceone_stage = {"$replaceOne": {"input": "Hello World", "find": "World", "replacement": "Universe"}} # replace the first occurrence of 'World' with 'Universe' in the string 'Hello World'

# $replaceAll - replaces all occurrences of a substring in a string

replaceall_stage = {"$replaceAll": {"input": "Hello World", "find": "o", "replacement": "0"}} # replace all occurrences of 'o' with '0' in the string 'Hello World'

# $ltrim - removes whitespace from the beginning of a string

ltrim_stage = {"$ltrim": {"input": " Hello "}} # remove whitespace from the beginning of the string ' Hello '

# $rtrim - removes whitespace from the end of a string

rtrim_stage = {"$rtrim": {"input": " Hello "}} # remove whitespace from the end of the string ' Hello '

# $dateToString - converts a date to a string

datetostring_stage = {"$dateToString": {"date": "$date", "format": "%Y-%m-%d"}} # convert the 'date' field to a string in the format 'YYYY-MM-DD'

# $dateFromString - converts a string to a date

datefromstring_stage = {"$dateFromString": {"dateString": "2022-01-01", "format": "%Y-%m-%d"}} # convert the string '2022-01-01' to a date in the format 'YYYY-MM-DD'

# give example for datefromstring aned datetostring with aggeration

# $dateToString - converts a date to a string

datetostring_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "formatted_date": {"$dateToString": {"date": "$date", "format": "%Y-%m-%d"}}}}
]) # include the 'name' field and convert the 'date' field to a string in the format 'YYYY-MM-DD' as 'formatted_date'

# before output - {'name': 'Pens', 'date': datetime.datetime(2022, 1, 1, 0, 0)}
# output - {'name': 'Pens', 'formatted_date': '2022-01-01'}

# $dateFromString - converts a string to a date

datefromstring_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "parsed_date": {"$dateFromString": {"dateString": "2022-01-01", "format": "%Y-%m-%d"}}}}
]) # include the 'name' field and convert the string '2022-01-01' to a date in the format 'YYYY-MM-DD' as 'parsed_date'

# before output - {'name': 'Pens'}
# output - {'name': 'Pens', 'parsed_date': datetime.datetime(2022, 1, 1, 0, 0)}

In [ ]:
# type expression operators

# $type - returns the BSON type of a field
# $convert - converts a value to a specified type # how many types are there ? # there are 16 types in MongoDB
# they are - double, string, object, array, binData, undefined, objectId, bool, date, null, regex, dbPointer, javascript, symbol, javascriptWithScope, int, timestamp, long, decimal, minKey, maxKey
# $toBool - converts a value to a boolean
# $toDate - converts a value to a date
# $toDecimal - converts a value to a decimal
# $toDouble - converts a value to a double
# $toInt - converts a value to an integer
# $toLong - converts a value to a long
# $toObjectId - converts a value to an ObjectId
# $toString - converts a value to a string

# give examples of each of them

# $type - returns the BSON type of a field

type_stage = {"$type": "$price"} # get the BSON type of the 'price' field

# $convert - converts a value to a specified type

convert_stage = {"$convert": {"input": "$price", "to": "decimal"}} # convert the 'price' field to a decimal

# $toBool - converts a value to a boolean

tobool_stage = {"$toBool": "$is_active"} # convert the 'is_active' field to a boolean

# $toDate - converts a value to a date

todate_stage = {"$toDate": "$date_string"} # convert the 'date_string' field to a date

# $toDecimal - converts a value to a decimal

todecimal_stage = {"$toDecimal": "$price"} # convert the 'price' field to a decimal

# $toDouble - converts a value to a double

todouble_stage = {"$toDouble": "$price"} # convert the 'price' field to a double

# $toInt - converts a value to an integer

toint_stage = {"$toInt": "$quantity"} # convert the 'quantity' field to an integer

# $toLong - converts a value to a long

tolong_stage = {"$toLong": "$quantity"} # convert the 'quantity' field to a long

# $toObjectId - converts a value to an ObjectId

toobjectid_stage = {"$toObjectId": "$_id_string"} # convert the '_id_string' field to an ObjectId

# $toString - converts a value to a string

tostring_stage = {"$toString": "$price"} # convert the 'price' field to a string

# give example for each of them

# $type - returns the BSON type of a field

type_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "price_type": {"$type": "$price"}}}
]) # include the 'name' field and get the BSON type of the 'price' field as 'price_type'

# before output - {'name': 'Pens', 'price': 10.00}
# output - {'name': 'Pens', 'price_type': 'double'}

# $convert - converts a value to a specified type

convert_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "decimal_price": {"$convert": {"input": "$price", "to": "decimal"}}}}
]) # include the 'name' field and convert the 'price' field to a decimal as 'decimal_price'

# before output - {'name': 'Pens', 'price': 10.00}
# output - {'name': 'Pens', 'decimal_price': 10.00}


# $toBool - converts a value to a boolean

tobool_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "is_active_bool": {"$toBool": "$is_active"}}}
]) # include the 'name' field and convert the 'is_active' field to a boolean as 'is_active_bool'

# before output - {'name': 'Pens', 'is_active': 1}
# output - {'name': 'Pens', 'is_active_bool': True}

# $toDate - converts a value to a date

todate_cursor = db.products.aggregate([
    {"$project": {"_id": 0, "name": 1, "date": {"$toDate": "$date_string"}}}
]) # include the 'name' field and convert the 'date_string' field to a date as 'date'

# before output - {'name': 'Pens', 'date_string': '2022-01-01'}
# output - {'name': 'Pens', 'date': datetime.datetime(2022, 1, 1, 0, 0)}

In [2]:
a="""
"Python Developer\nUplers  Vijayawada, Andhra Pradesh, India \nRemote  Contract  Mid-Senior level\n\nSalary: INR 208000.00 / month (based on experience)\n\nExpected Notice Period: 15 Days\n\nShift: (GMT+05:30) Asia/Kolkata (IST)\n\nOpportunity Type: Remote\n\nPlacement Type: Full Time Permanent position(Payroll and Compliance to be managed by: dataorb)\n\n(*Note: This is a requirement for one of Uplers' client - dataorb)\n\nWhat do you need for this opportunity?\n\nPrimary Skills:\n\nNoSql, Object-Oriented Programming (OOP), Amazon Web Service (AWS), MongoDB, Python, Docker, Machine Learning, MySQL\n\ndataorb is Looking for:\n\nRoles and Responsibilities : \n\nAbout Role:\n\nWe are seeking an experienced Senior Python Developer proficient in object-oriented programming, Python development, cloud technologies, database design, and advanced Python concepts. The ideal candidate will have a foundational understanding of machine learning, with a strong willingness to learn and grow in this domain. The role involves writing high-quality Python code following SOLID principles and design patterns, as well as guiding and training team members to elevate their coding standards.\n\nKey Responsibilities:\n\nArchitect and develop robust, scalable, and maintainable Python applications following microservice architecture principles\n\nDemonstrate proficiency in writing multithreaded and parallel processing code for optimizing performance\nDrive the creation of modularized codebase, ensuring reusability and maintainability across projects\n\nDevelop high-quality Python code adhering to SOLID principles and design patterns\n\nDesign and implement scalable solutions leveraging cloud technologies\n\nContribute to database design and optimization strategies\n\nMentor and guide team members to enhance code quality and best practices\n\nCollaborate with cross-functional teams to deliver robust and efficient solutions.\n\nCollaborate closely with stakeholders to understand requirements and translate them into technical solutions\n\nDrive code reviews and ensure adherence to coding standards, quality, and performance benchmarks\n\nResearch and implement emerging technologies to enhance system efficiency\n\nLead initiatives to improve development processes and tools, fostering innovation and productivity\n\nFoster a culture of continuous learning and improvement within the team\n\nRequirements : \n\nJob Qualifications:\n\nUndergraduate degree in Computer Science, Machine Learning, or Artificial Intelligence major is preferred\nFull time hands-on software engineering experience\nStrong proficiency in Python and object-oriented programming (OOP)\nExperience with cloud technologies (preferably AWS)\nProficient in database design and optimization\nUnderstanding of advanced Python concepts and best practices\nFamiliarity with machine learning concepts (even basic knowledge is a plus)\nAbility to write clean, mainable, and scalable code\nExperience in guiding and training team members\nExcellent communication and collaboration skills\nAdvanced knowledge of relational and/or NoSQL databases, optimizing queries, and data modeling\nProficiency in applying testing methodologies, including unit and integration testing\nStrong problem-solving skills and ability to thrive in a fast-paced, collaborative environment\nExperience with containerization technologies like Docker and orchestration tools like Kubernetes\n\n\nGood to Have:\n\nHands-on experience with ML frameworks (TensorFlow, PyTorch)\nExperience using Cloud ML platforms and MLOps frameworks in production environments, preferably AWS SageMaker\nSeniority: E3 / E4\nJob Type: Full Time Employee\nDepartment/Team: Machine Learning / MLOps\nLocation: Anywhere in India, Permanent Work from Home (Hyderabad or Ahmedabad Preferred)\n\n\nAbout our Client - dataorb:\n\nDataOrb enables organizations of every size, from startups to Fortune 500, to collect, analyze, and generate insights from their customer interaction data such as conversational, transactional, and structured datasets.Were on a mission to democratize access to customer data across the organization. Why?Because access to full customer context leads to better products, drives growth, and enables customer-first experiences. The worlds most innovative companies are customer-obsessed. Were building the customer data platform to make that possible.\n\nAbout Uplers:\n\nOur goal is to make hiring reliable, simple, and fast. Our role will be to help all our talents find and apply for relevant contractual onsite opportunities and progress in their career. We will support any grievances or challenges you may face during the engagement. You will also be assigned to a dedicated Talent Success Coach during the engagement.\n\n"
"""

In [3]:
len(a)

4687